.App {
	background-color: #ff6666;
}
.App h1 {
	font-size: 5em;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
	.App {
		width: 80%;
		margin: auto;
	}
}
@media screen and (min-width: 768px) {
	.container1 label:first-child {
		width: auto;
		white-space: nowrap;
	}
}
